body {
	color: #000;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
}

.t3-sl {
  padding-bottom: 5px;
  padding-top: 5px;
}

td p div body {
	color: #000;
}.t3-sl {
  	padding-bottom: 5px;
  	padding-top: 10px;
  	height: 10px;
}
.t3-mainbody {
	padding-bottom: 5px;
	padding-top: 5px;
}
.t3-module {
	background: transparent;
	color: inherit;
	margin-bottom: 10px;
}

.mapa-do-site {
	text-align: right;
	padding: 5px;
	margin: 2px;	
}

.form-projeto-de-lei {
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;	
}

.nav > li > a:hover {
  background-color: #fff;
  color: #eee;
}

.logo-img {
    height: auto;
}

.btn-group > .dropdown-toggle {
	display: none;
}

.btn-group > .dropdown-menu {
	display: inline;
	margin-top: -10px;
	border: 0;
	padding: 0;
}

.btn-group > .dropdown-menu > li {
	display: inline;
}

.btn-group > .dropdown-menu > li > a {
	display: inline;
	text-decoration: none;
	padding: .2em 1em;
}